{% extends 'base.html' %}

{% block content %}

<div class="mt-5 card shadow-lg p-3">
    <div class="card-body mx-auto">
        <i class="fab fa-twitter fa-5x d-block mx-auto" style='color:#0b5ed7;'></i>
        <h1 class="card-title text-center">{{ title }}</h1>
        <!-- be carefull {} -->
        {% if description %}
        <p class="card-text">{{description}}</p>
        {% endif %}

        <!-- do not leave white-space; form = form will not wokk... -->
        {% include "components/form.html" with form=form btn_label=btn_label %}
    </div>
</div>

{% endblock content %}