<table class="table table-borderless table-hover position-fixed">
    <thead>
        <tr>
            <th class="px-5"><a href="/"><i class="fab fa-twitter fa-3x d-block"></i></a></th>
        </tr>
        <tr>
            <th class="px-5">
                <a href="/global/" class="text-decoration-none link-dark">
                    <i class="fas fa-hashtag fw-normal" style="font-size: 1.3rem;"></i>
                    <span class="fs-3  fw-bolder ps-3"> Explore</span>
                </a>
            </th>
        </tr>
        <tr>
            <th class="px-5">
                <a href="/profile/edit/" class="text-decoration-none link-dark">
                    <i class="fas fa-cog" style="font-size: 1.2rem;"></i>
                    <span class="fs-3 fw-bolder ps-3">Settings</span>
                </a>
            </th>
        </tr>
    </thead>
</table>