<table class="table table-borderless table-hover position-fixed" class="sub-nav" style='max-width:15rem;'>
    <thead>
        <tr>
            <th class="px-5">
                <a href="/"><i class="fab fa-twitter fa-3x"></i></a>
            </th>
        </tr>
        <tr>
            <th class="px-5">
                <a href="/global/" class="text-decoration-none link-dark">
                    <i class="fas fa-hashtag fw-normal" style="font-size: 1.3rem;"></i>
                    <span class="fs-4  fw-bolder ps-3 sub-nav-description"> Explore</span>
                </a>
            </th>
        </tr>
        <tr>
            <th class="px-5">
                <a href="/profile/edit/" class="text-decoration-none link-dark">
                    <i class="fas fa-cog" style="font-size: 1.2rem;"></i>
                    <span class="fs-4 fw-bolder ps-3 sub-nav-description">Settings</span>
                </a>
            </th>
        </tr>
    </thead>
</table>