{% extends 'base.html' %}


{% block content %}
<!-- <h2 class="text-center my-4">Welcome to Twitter-ish </h2> -->

<div class="row mb-5">
    <div class="col-3 col-md-2 col-sm-1 mt-5 text-start sub-nav">
        {% include '../components/sub-nav.html' %}
    </div>
    <div class="col-6 col-md-7 col-sm-9 mb-5 tweets">
        {% if request.user.is_authenticated and not request.user.is_anonymous %}
        <div id="tweetme-feed"></div>
        {% else %}<div id="tweetme">Loading</div>
        {% endif %}
    </div>
    <!--  rendered from react app -->
    <div class="col-3 col-md-3 mt-5 signup">
        {% include '../components/signup.html' %}
    </div>
</div>

<!--  rendered from react app -->
{% endblock content %}