{% extends 'base.html' %}


{% block content %}
<!-- <h2 class="text-center my-4">Welcome to Twitter-ish </h2> -->

<div class="row">
    <div class="col-3">
        <a><i class="fas fa-hashtag"></i></a>
    </div>
    <div class="col-6">
        {% if request.user.is_authenticated and not request.user.is_anonymous %}
        <div id="tweetme-feed"></div>
        {% else %}<div id="tweetme">Loading</div>
        {% endif %}
    </div>
    <div class="col-3">
        <div class="col-3">
            <a><i class="fas fa-hashtag"></i></a>
        </div>
    </div>
</div>

<!--  rendered from react app -->
{% endblock content %}