{% extends 'base.html' %}

{% block title %}
Twitter-ish App
{% endblock title %}

{% block content %}
<h2 class="text-center my-4">Welcome to Twitter-ish </h2>

<div class="row">
    <div class='col-md-4 col-10 mx-auto'>
        <!-- though POST, data will be sent to view -->
        <form class="form" action="/create-tweets/" method="POST">
            {% csrf_token %}
            <!-- NOT 'action'; Use 'value' -->
            <input type="hidden" value="/" name="next">
            <textarea class="form-control" name="content" placeholder="Your tweet here"></textarea>
            <button class="btn btn-primary my-2" type="submit">Tweet</button>
        </form>
    </div>
</div>

<div id="tweets">Loading</div>
<script>

    function handleClikeLike(tweet_id, currentCount) {
        return currentCount++
    }

    function formatTweet(tweet) {
        return "<div class='border mx-auto p-2 col-12 col-md-7'id='tweet-" + tweet.id + "'><p>" + tweet.content +
            "</p><button class='btn btn-primary btn-group' onClick = handleClikeLike(" + tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button></div>"
    }

    const tweetsId = document.getElementById("tweets")
    // get data 

    const xml = new XMLHttpRequest()
    const method = "GET"
    const url = "/tweets/"
    const responseType = 'json'
    xml.responseType = responseType
    xml.open(method, url)
    xml.onload = function () {
        const serverResponse = xml.response
        var itemsList = serverResponse.response
        var finalList = ''
        var currentTweet = ''
        for (var i = 0; i < itemsList.length; i++) {
            currentTweet = formatTweet(itemsList[i])
            finalList += currentTweet
        }
        tweetsId.innerHTML = finalList
    }
    xml.send()

</script>
{% endblock content %}