{% extends 'base.html' %}

{% block title %}
Twitter-ish App
{% endblock title %}

{% block content %}
<h2 class="text-center my-2">Welcome to Twitter-ish </h2>
<div id="tweets">Loading</div>

<script>

    function handleClikeLike(tweet_id, currentCount) {
        return currentCount++
    }

    function formatTweet(tweet) {
        return "<div class='border mx-auto p-2 col-12 col-md-9'id='tweet-" + tweet.id + "'><p>" + tweet.content +
            "</p><button class='btn btn-primary btn-group' onClick = handleClikeLike(" + tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button></div>"
    }

    const tweetsId = document.getElementById("tweets")
    // get data 

    const xml = new XMLHttpRequest()
    const method = "GET"
    const url = "/tweets/"
    const responseType = 'json'
    xml.responseType = responseType
    xml.open(method, url)
    xml.onload = function () {
        const serverResponse = xml.response
        var itemsList = serverResponse.response
        var finalList = ''
        var currentTweet = ''
        for (var i = 0; i < itemsList.length; i++) {
            currentTweet = formatTweet(itemsList[i])
            finalList += currentTweet
        }
        tweetsId.innerHTML = finalList
    }
    xml.send()

</script>
{% endblock content %}